*{
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    text-align: center;
    padding: 5% 15%;
    font-family: 'fredoka', sans-serif;
}


header{
    padding-bottom: 3rem;
    color: #e53170;
}

.cards_row{
    display: block;
    width: inherit;
    margin-top: 3rem;
    padding: 0 .5rem;
}

.card{
    float: left;
    height: 5rem;
    width: 30%;
    background-color: #0f0e17;
    margin-right: 5%;
}

.card:last-child{
    margin-right: 0;
}