*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    padding: 5% 15%;
    font-family: 'fredoka', sans-serif;
}


header{
    padding-bottom: 3rem;
    color: #e53170;
}

.cards_row{
    display: block;
    height: 60px;
    width: 100%;
    border: 5px solid red;
    margin-top: 3rem;
    padding: 0 .5rem;
}

.card{
    float: left;
    height: 5rem;
    width: 30%;
    background-color: #0f0e17;
    margin-right: calc(10% / 3);
}