*{
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    text-align: center;
    font-family: 'fredoka', sans-serif;
    background-image: url(./img/logo.png);
    background-size: 7%;
}

.background{
    background-color: rgb(255, 255, 255, 0.92);
    padding: 2% 10%;
}

.fl_left{
    float: left;
}

.fl_right{
    float: right;
}

img{
    height: 5.5rem;
    width: auto;
    margin-right: .5rem;
}

header{
    padding-bottom: 3rem;
    color: #e53170;
}

section{
    margin-bottom: 5rem;
}


.cards_row{
    display: block;
    width: inherit;
    margin-top: 2.4rem;
    padding: 0 .5rem;
}

.card{
    width: 30%;
    display: inline-block;
    color: white;
    margin-right: 2%;
    text-align: left;
    background-color: #0f0e17;
    box-shadow: 4px 4px 8px #0f0e17;
}

section:first-child :nth-child(2){
    font-size: 1rem;
}

div span,address{
    font-size: .8rem;
}

.card :not(img){
    margin-top: .5rem;
}

address:last-child{
    color: #33b0e7;
}

address:hover{
    color: #92c3d9;
}

.bonus :first-child{
    padding-bottom: 0;
}

section:nth-child(2) img{
    height: 14rem;
}

.box{
    width: 75%;
    background-color: #1c1644;
    color: white;
    text-align: center;
    box-shadow: 8px 8px 20px #0f0e17;
}

.left{
    margin-right: 25%;
}

.right{
    margin-left: 25%;
}

#betta{
    margin-left: 25%;
}

.right img{
    margin-right: 0;
}

.box :not(img){
    padding-top: 2.5rem;
    font-size: 1.2rem;
}

.cops_container div{
    margin-bottom: 3rem;
    width: 45%;
    display: inline-block;
}

.cops_container .left,.right{
    margin: 0 2%;
}

#final_box{
    width: 60%;
    margin: 0 20%;
    padding: 3%;
}

footer{
    text-align: right
}