*{
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    text-align: center;
    padding: 2% 10%;
    font-family: 'fredoka', sans-serif;
}


header{
    padding-bottom: 3rem;
    color: #e53170;
}

section{
    margin-bottom: 5rem;
}

span{
    display: inline-block;
}

.cards_row{
    display: block;
    width: inherit;
    margin-top: 2.4rem;
    padding: 0 .5rem;
}

.card{
    float: left;
    height: 5rem;
    width: 32%;
    background-color: #0f0e17;
    color: white;
    margin-right: 2%;
    text-align: left;
    box-shadow: 4px 4px 8px #0f0e17;
}

.card:last-child{
    margin-right: 0;
}

.card img{
    height: inherit;
    width: auto;
    float: left;
    margin-right: .5rem;
}

.card :not(img){
    margin-top: .5rem;
}

h2:nth-child(2){
    font-size: 1rem;
}

div span,address{
    font-size: .8rem;
}

address:last-child{
    color: #33b0e7;
}

address:hover{
    color: #92c3d9;
}

.bonus :first-child{
    padding-bottom: 0;
}

.box{
    height: 14rem;
    background-color: #1c1644;
    color: white;
    text-align: center;
    box-shadow: 8px 8px 20px #0f0e17;
}

.left{
    margin-right: 25%;
}

.right{
    margin-left: 25%;
}

.left img{
    height: inherit;
    width: auto;
    float: left;
}

.right img{
    height: inherit;
    width: auto;
    float: right;
}

.box :not(img){
    padding-top: 2.5rem;
}

.cops_container div{
    margin-bottom: 3rem;
    width: 45%;
    display: inline-block;
}

.cops_container .left,.right{
    margin: 0 2%;
}

.cops_container img{
    height: 65%;
    width: auto;
}
